body {
    background-color: bisque;
    margin:0;
    padding: 0;

}
.recuadro-contenedor{
display: flex;
justify-content: center;
align-items: center;
}

.recuadro {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    position: relative;
}

.contenedor {
width: 100%;
height: 100%;
text-align: center;
border: 2px solid black;
padding: 20px;
background-color: white;
max-width: 50%;
margin: 0 auto;
}
  
.imagen {
    max-width: 100%;
    max-height: 100%;
}
  
.line {
    border: none;
    margin: 20px 0;
    height: 1px;
    width: 100%;
    background-color: black;
}
.boton {
bottom:10px;
right:10px;
padding:10px 20px;
}

.texto{
color:black;
font-size: 18px;
}

h3{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

h2{
font-family: Arial, Helvetica, sans-serif;
width: 100%;
}

h1{
font-family: Arial, Helvetica, sans-serif;
}

p{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
.circle {
    position: absolute;
    border: 2px solid red;
    border-radius: 50%;
}