body {
    background-color: bisque;
    margin:50;
    padding: 0;
}

.boton {
    border: black;
    padding: 15px 42px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(209, 209, 209);
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 550px;
    cursor: pointer;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 25px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding-left: 519px;
}

h5{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding-left: 1em;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 500px;
}

p1{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1em;
}

