body {
background-color: bisque;
margin:0;
padding: 0;

}
h3 {
font-size: 30px;
margin-top: 10px;
font-family: Arial, Helvetica, sans-serif;
}

h1 {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 }


p {
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}


.contenedor {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}


.imagen {
max-width: 100%;
height: auto;
display: block;
margin: 0 auto;
}


.pregunta {
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px 0;
}

.respuesta-input {
width: 30px;
height: 30px;
background-color: white;
border: 1px solid #000;
text-align: center;
font-size: 18px;
}


.line {
border: 1px solid #000;
margin: 20px 0;
}


.recuadro-contenedor {
background-color: #f0f0f0;
padding: 20px;
text-align: center;
margin: 20px 0;
}

.recuadro {
border: 2px solid #000;
padding: 10px;
}

h2 {
font-size: 30px;
margin-bottom: 10px;
font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    background-color: #ffffff;
    width: 200px;
    height: auto;
    position: fixed;
    border-radius: 14px;
    border: 1px solid #2C87C2;
    top: 100px;
    left: 0;
    transition: transform 0.3s ease-in-out; 
    transform: translateX(-250px); 
}

.sidebar.open {
    transform: translateX(0); 
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.sidebar ul li a:hover {
    cursor: pointer;
}

.sidebar ul li a:hover {
    cursor: pointer;
}


#toggleButton {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #2C87C2;
    transition: transform 0.3s ease;
}
#toggleButton:hover {
    transform: scale(1.1);
}

.content {
    margin-left: 0px;
    padding: 20px;
}
.recuadro2 {
border: 2px solid black;
margin: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-color: white;
position: relative;
}
.imagen2{
width: 692px;
height: 375px;
}
.contadorRecuadro {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.lateralDerecho {
    position: fixed;
    top: 104px;
    right: 0;
    width: 200px; /* Ancho del lateral izquierdo */
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid #000000;
    overflow-y: auto; /* Habilitar desplazamiento vertical si el contenido es demasiado largo */
    height: auto; /* Ajuste para ocupar toda la altura de la pantalla */
}

.textoRecuadro {
    border: 2px solid #000000;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}
#tiempoRecuadro {
    position: fixed;
    top: 20%;
    right: 0;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
    
.boton {
    padding: 15px 42px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 241, 241);
    text-align: center;
    text-decoration: none; 
    display: block;
    font-size: 16px;
    margin: 8px auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.boton:hover {
    transform: scale(1.1);
}

